@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #222;
    padding-bottom: 50px;
}

.container-site {
    position: absolute;
    width: 633px;
    height: 416px;
    top: 156px;
    max-width: 1200px;
    margin-right: 23pc;
    background-color: #f9e531ab;
    /* height: 50%; */
    /* width: 40%; */
    border-radius: 3pc;
}

.nav {
    position: fixed;
    background: rgba(255, 165, 0, 0.54);
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
}

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav a {
    color: black;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
    padding-left: 50px;
    padding-right: 50px;
}

.nav.active {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {
    color: #000;
}

.nav.active .container {
    padding: 10px 0;
}

.nav a.current,
.nav a:hover {
    color: #c0392b;
    font-weight: bold;
}












.hero {
    background-image: url("./images/super.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
   
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.hero h1 {
    font-size: 46px;
    margin: -20px 0 20px;
    margin-top: 5pc;
}

.hero p {
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 3pc;
}

.content h2 {
    text-align: center;
    margin-top: 20pc;
}

.content h1 {
    font-size: 150%;
    margin: 20px 0;
    color: #ff4e00;
    text-align: center;
}

.testimonials-1 {
    width: 533px;
    height: 316px;
    top: 156px;
    max-width: 1200px;
    background-color: #f9e531ab;
    border-radius: 3pc;
}

.testimonials-2 {
    width: 533px;
    height: 316px;
    top: 156px;
    max-width: 1200px;
    background-color: #f9e531ab;
    border-radius: 3pc;
}

.testimonials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5pc;
}

.testimonials p {
    text-align: center;
    margin: 3pc;

}





.contact {
    border-radius: 40px;
    position: absolute;
    height: 167px;
    left: 55px;
    width: 1200px;
    max-width: 1200px;
    background-color: rgba(249, 229, 49, 0.67);
    border-radius: 3pc;
    margin: 1pc;
}

.contact h1 {
    text-align: center;
    font-weight: 600;
}

#text-1 {
    margin-left: 5pc;
    padding: 0;
    line-height: 5px;
    margin-top: -5pc;
    margin-left: 9pc;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 10px;
    margin-top: 2pc;
    margin-left: 3pc;
}

.bookers{
    height: 20pc;
    width: 23pc;
    position: relative;
    margin-left: 55pc;
    margin-top: -30pc;
}
.bookers input{
    display: block;
    justify-content: space-between;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: #ff4e00;
}
.bookers button{
    display: block;
    background-color: yellow;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    box-shadow: #c0392b;
}
.bookers label{
    color: white;
}


.last{
    margin-bottom: 20pc;
}